:root {
  --card-width: 150px;
  --card-height: 200px;
}

.light {
  --main-bg: #e4e4e4;
  --text-primary: #424242;
  --btn-hover: #cdcdcd;
  --border-color: #cfcfcf;
}

.dark {
  --main-bg: #424242;
  --text-primary: #f7f7f8;
  --btn-hover: #545454;
  --border-color: #626262;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--main-bg);
  color: var(--text-primary);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  padding: 1rem;
  height: 100vh;
  overflow-x: hidden;
}

header {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

.header-title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.header-title-container .title {
  text-align: center;
  margin-right: 1rem;
}

.toggle-mode {
  cursor: pointer;
}

.sun {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-container {
  position: relative;
  margin-top: 2rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
}

/* flip card */
.card {
  perspective: 1000px;
  width: var(--card-width);
  height: var(--card-height);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s linear;
  border-radius: 15px;
  overflow: hidden;

  transform: translate(-700px, -700px);
  animation: flyDown 1s ease-in-out forwards;
}

.card .front,
.card .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transition: transform 0.6s;
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.card .front {
  transform: rotateY(0deg);
}

.card .back {
  transform: rotateY(180deg);
}

.card.flip .front {
  transform: rotateY(180deg);
}

.card.flip .back {
  transform: rotateY(0deg);
}

.card:nth-child(1) {
  animation-delay: 3s;
}

.card:nth-child(2) {
  animation-delay: 2s;
}

.card:nth-child(3) {
  animation-delay: 1s;
}

@keyframes flyDown {
  0% {
    transform: translate(-300px, -500px);
  }

  100% {
    transform: translate(0, 0);
  }
}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
}

.top-bar .target-card {
  width: 47px;
  height: 59px;
  background: white;
  padding: 3px;
  border-radius: 3px;
  transform: rotate(-5deg);
  border: 1px solid var(--border-color);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

.score-badge,
.round-badge {
  display: none;
}

.target-card img {
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.badge {
  background-color: #d7d1cc;
  color: #000000;
  padding: 1px 3px;
  border-radius: 5px;
  margin-left: 0.3rem;
}

.desc {
  margin-top: 1.5rem;
  font-size: 17px;
  opacity: 0;
  animation: fade-in 0.3s linear forwards 4.3s;
  text-align: center;
}

.play-game {
  padding: 0.5rem 1rem;
  outline: none;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  font-size: 17px;
  margin-top: 1rem;
  cursor: pointer;
  transition: 0.3s;
  opacity: 0;
  animation: fade-in 0.3s linear forwards 4s;
}

.play-game:hover {
  background-color: var(--btn-hover);
}

@keyframes fade-in {
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 480px) {
  .header-title-container .title {
    font-size: 1.7rem;
  }

  :root {
    --card-width: 130px;
    --card-height: 170px;
  }
}
